body {
  margin: 0;
  padding: 0;
}

.header {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.navbar-list {
  margin-left: 30px;
}

.navbar-links {
  text-decoration: none;
  color: #292830;
  -webkit-transition: 1s;
  transition: 1s;
}

.navbar-links:hover {
  color: #867dc5;
}

.navbar-button {
  width: 120px;
  height: 38px;
  font-size: 10px;
  border: 1px solid #FF7235;
  color: #FF7235;
  border-radius: 8px;
  -webkit-transition: 1s;
  transition: 1s;
  margin-top: 5px;
}

.navbar-button:hover {
  color: #f7f7f7;
  background-color: #FF7235;
}

.responsive-button {
  width: 60px;
  height: 50px;
  display: none;
}

.responsive-button:hover {
  border: none;
}

.flex-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 900px) {
  .navbar-ul {
    display: none;
  }
  .navbar-button {
    display: none;
  }
  .responsive-button {
    display: block;
  }
  .navbar {
    margin-top: 30px;
  }
  .flex-card {
    width: 900px;
    margin-right: auto;
    margin-left: auto;
  }
  .container {
    width: 1110px;
    margin-right: auto;
    margin-left: auto;
  }
}

.flex-card-title {
  width: 400px;
  height: 120px;
  font-size: 46px;
  line-height: 96px;
  line-height: 100%;
}

.flex-card-text {
  color: #BDBDBD;
}

.flex-card-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-card-button {
  width: 150px;
  height: 40px;
  border: 1px solid #FF7235;
  background-color: #FF7235;
  border-radius: 8px;
  color: #f7f7f7;
}

.flex-card-button:hover {
  background-color: #eea366;
}

.flex-card-button-text {
  margin-left: 20px;
  color: #BDBDBD;
}

.orange-card {
  width: 910px;
  height: 320px;
  background-color: #FF7235;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.big-img {
  margin-top: 30px;
}

.brands {
  margin-top: -4px;
}

.grid-cards {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  display: -ms-grid;
  display: grid;
  grid-gap: 60px;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
      grid-template-areas: "written-part written-part img-part img-part";
}

.grid-cards > div {
  width: 440px;
}

.grid-cards-2 {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  grid-gap: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
      grid-template-areas: " img-part img-part written-part written-part ";
}

.grid-cards-2 > div {
  width: 440px;
}

.written-part {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: written-part;
  width: 160px;
}

.written-part-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: written-part;
  width: 170px;
}

.img-part {
  margin-left: -90px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img-part;
}

.img-part-2 {
  margin-left: -30px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img-part;
}

.grey-text {
  width: 400px;
  font-size: 24px;
  line-height: 19px;
  color: #BDBDBD;
}

.grid-title {
  width: 290px;
  font-style: Bold;
  font-size: 56px;
  line-height: 56px;
}

.grid-title-2 {
  width: 290px;
  font-style: Bold;
  font-size: 46px;
  line-height: 46px;
}

.learn-more {
  text-decoration: none;
  color: #d63c15;
  font-size: 26px;
}

@media only screen and (max-width: 920px) {
  .grid-cards {
    width: 800px;
    margin-left: 390px;
    margin-top: 80px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
        grid-template-areas: "written-part written-part written-part written-part " "img-part img-part img-part img-part";
  }
  .img-part {
    margin-top: 40px;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: img-part;
  }
  .grid-cards-2 {
    width: 800px;
    margin-left: 340px;
    margin-top: 80px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
        grid-template-areas: "img-part img-part img-part img-part" "written-part written-part written-part written-part ";
  }
  .written-part {
    margin-left: -40px;
  }
  .img-part-2 {
    margin-top: 40px;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: img-part;
  }
}
/*# sourceMappingURL=main.css.map */